root = true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2

[{test,.babelrc,.stylelintrc,.eslintrc,jest.config,test_response,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[{*.avsc,*.avdl}]
indent_style=space
indent_size=2

[*.feature]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.gson,*.gradle,*.groovy,*.gdsl,*.gy,*.gant}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{DockerfileWithNPM_TOKEN,Dockerfile2,*.yml,*.yaml}]
indent_style=space
indent_size=2

